[submodule "maddpg"]
	path = maddpg
	url = git@github.com:openai/maddpg.git
[submodule "multiagent-particle-envs"]
	path = multiagent-particle-envs
	url = git@github.com:openai/multiagent-particle-envs.git
